<div class="blog container">

</div>
<div class="container-fluid">


	<section class="card-section-imagia">

	
			
				<h1>Tutoriales</h1>
				<h2>Más recientes</h2>

		

		<div class="container-fluid">
			<div class="row">
				{{# each data.posts.results}}
				<div class="col-sm-6 col-md-4">
					<div class="card-container-imagia">
						<div class="card-imagia">
							<div class="front-imagia">
								<div class="cover-imagia">
									{{!--
									<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" alt=""> --}}
								</div>
								<div class="user-imagia">
									{{!--
									<img class="img-circle" alt=""> --}}
								</div>
								<div class="content-imagia">
									<h3 class="name-imagia">{{{title}}}</h3>
									<p class="subtitle-imagia">{{{categoryList categories}}}</p>
									<p class="text-center">
										<em></em>
									</p>
								</div>
								<div class="footer-imagia">
									<span>
										<a class="fa fa-plus" href="{{postUrl slug}}">Ver más...</a>
									</span>
								</div>
							</div>
							<div class="back-imagia">
								<div class="content-imagia content-back-imagia">
									<div>
										<div class="row">
											<h3 class="text-center mx-auto card-">{{{title}}}</h3>
											<p class="text-center">{{{content.brief}}}</p>
										</div>
										<div class="row">
											<a class="btn btn-outline-warning btn-xl js-scroll-trigger mx-auto" role="button" href="{{postUrl slug}}">Ver más</a>
										</div>


									</div>
								</div>
								<div class="footer-imagia">
									<div class="social-imagia text-center">
										<a href="#">
											<i class="fab fa-facebook"></i>
										</a>
										<a href="#">
											<i class="fab fa-linkedin"></i>
										</a>
										<a href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}

			</div>
	</section>


	{{>pagination}}
	</div>